.tags 
{
    width: 100%;
    height: 70px;
    background-color: #060706;
    align-items: center;
    display: flex;
    column-gap: 10px;
}

.tag {

    padding: 5px 20px;
    width: fit-content;
    background-color: #363636;
    text-align: center;
    color: white;
    border-radius: 30px;
    justify-content: space-between;
    transition: .3s;
    cursor: pointer;
}

.tag:hover 
{
    background-color: #888585;
}