.shows
{
    width: 100%;
    padding: 10px 2%;
    background-color: #060707;
    color: white ;
}

.showsparent
{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.show
{
    width: 20%;
    height: 400px;
}